// Colores
$color-white: #FFFFFF;
$color-platinum: #E6E7E7;
$color-light-gray: #D1D1D1;
$color-fuzzy-wuzzy: #E56353;
$color-ruddy-pink: #D76C69;
$color-spanish-pink: #ECBCBA;
$color-eerie-black: #121619;
$color-raisin-black: #222323;
$color-nickel: #6C6E70;

// Tamaños de fuente
$font_size_xxlarge: 72px;
$font_size_xlarge: 30px;
$font_size_large: 18px;
$font_size_medium: 16px;
$font_size_small: 12px;

// Estilos de fuente
$font_style_roboto: 'Roboto', 'Arial';
$font_style_playfair: 'Playfair Display', 'Arial';

// Grosor de fuente
$font_weight_400: 400;
$font_weight_900: 900;
